<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Collaboratively edited playlists for your parties.">

    <title>PartyMixer</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/theme.css" rel="stylesheet">
    <link href="/stylesheets/media-object-visibility.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
    <script>
        var pusher = new Pusher('{{{pusher.key}}}', {
            cluster: '{{{pusher.cluster}}}'
        });
        Pusher.log = function(message) {
            if (window.console && window.console.log) {
                window.console.log(message);
            }
        };
    </script>
</head>

<body>
{{> header}}

<div class="container">
    {{{body}}}
    {{> footer}}
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
</body>
</html>
