<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Collaboratively edited playlists for your parties.">

    <title>PartyMixer</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script src="/javascripts/party.js"></script>
    <script>
        var pusher = new Pusher('{{{pusher.key}}}', {
            cluster: 'eu'
        });
    </script>
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                {{#if user}}
                    {{{user.displayName}}}
                {{else}}
                    <a href="/auth/facebook">Login with Facebook</a>
                {{/if}}
            </ul>
        </nav>
        <h3 class="text-muted">PartyMixer</h3>
    </div>

    {{{body}}}

    <footer class="footer">
        <p>Party Mixer is an open-source project to showcase Pusher.</p>
    </footer>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>