/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand,
.navbar-nav > li > a {
  line-height: 66px;
  height: 66px;
  padding-top: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  /*background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');*/
 /*background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/gplaypattern.png');*/
 /*background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/swirl_pattern.png");*/
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/skulls.png");

  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.voter-picture {
  height: 23px;
}

.profile-picture {
  width: 36px;
}

.summary {
  margin-bottom: 15px;
}

.empty-results .query {
  font-weight: bold;
}

/* Overlay over a video result in YouTube search results */
.results .media {
  position: relative;
}
/* Base overlay styles that all overlays inherit */
.results .media .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 999;
}
/* The default overlay houses the "Add to Queue" button */
.results .media:hover .overlay-default {
  opacity: 1;
  transition: opacity .1s;
}
.results .media .overlay-default {
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 0;
  transition: opacity .1s;
}
.results .media .overlay-default button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* Overlay indicating success */
.results .media .overlay-success {
  /* @state-success-bg */
  background-color: rgba(223, 240, 216, 0.85);
  /* @state-success-text */
  color: #3c763d;
}
/* Overlay indicating failure */
.results .media .overlay-danger {
  /* @state-danger-bg */
  background-color: rgba(242, 222, 222, 0.85);
  /* @state-danger-text */
  color: #a94442;
}
.results .media .overlay-success .message,
.results .media .overlay-danger .message {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Live user presence */
.presence {
  margin: 20px 0 10px;
}
.presence li {
  padding: 2px;
}
.presence img {
  width: 36px;
}
.presence img.host {
  border-bottom: 5px solid #CDDC39;
}
